* {
  font-family: sans-serif;
}

#container-membros {
  margin-top: 7%;
  width: 175vh;
  margin-left: 2%;
  margin-right: 2%;
}

#divTitulo {
  display: inline-block;
}

#divBusca {
  background-color: #c4e5f2;
  border: solid 1px #69a7bf;
  border-radius: 15px;
  width: 300px;
  height: 32px;
  float: right;
  margin-top: 2.5%;
}

#txtBusca {
  float: left;
  background-color: transparent;
  font-style: italic;
  font-size: 18px;
  border: none;
  height: 32px;
  width: 260px;
  color: black;
  padding-left: 5%;
}

#btnBusca {
  height: 20px;
  padding-top: 2%;
}

#btnBusca:hover {
  cursor: pointer;
  transform: scale(1.1);
}

input,
textarea,
select {
  outline: 0;
}

h1 {
  color: #69a7bf;
}

#col-nome {
  display: inline-block;
  color: #69a7bf;
  text-transform: uppercase;
  font-weight: bold;
  width: 50%;
}

#col-telefone {
  display: inline-block;
  color: #69a7bf;
  text-transform: uppercase;
  font-weight: bold;
}

#nome {
  display: inline-block;
  width: 50%;
}

#telefone {
  display: inline-block;
  width: 40%;
}

#col-editar {
  display: inline-block;
  text-align: right;
  margin-right: 1%;
}

#editar {
  background-color: #c7d9ad;
  border-radius: 8px;
  border: none;
  padding: 20%;
}

#editar:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#col-excluir {
  display: inline-block;
}

#excluir {
  background-color: #ffbfbf;
  border-radius: 8px;
  border: none;
  padding: 18%;
}

#excluir:hover {
  cursor: pointer;
  transform: scale(1.1);
}
