*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
#formulario-membros{
    display: flex;
}
.conteiner-formulario{
    margin-top: 12vh;
    width: 175vh;
    padding-left: 50px;
}
.formulario-2{
    margin-top: 50px;
    margin-left: 50px;
}
.formulario-1{
    margin-top: 50px;
}
.campo-nome input{
    width: 300px;
    height: 25px;
}
.campo-civil{
    margin-top: 20px;
}
#conjuge{
    width: 300px;
    height: 25px;
}
.campo-nascimento{
    margin-top: 20px;
}
.datas{
    height: 25px;
}
.campo-telefone{
    margin-top: 20px;
}
#telefone{
    width: 300px;
    height: 25px;
}
.campo-escolaridade select{
    width: 300px;
    height: 25px;
}
.campo-endereco input{
    height: 25px;
    margin-bottom: 11px;
}
.campo-recebido input{
    height: 25px;
}
#cargo{
    height: 25px;
}
#igreja{
    height: 25px;
    margin-left: 25px;
}
#rg{
    height: 25px;
}
#titulo{
    text-align: center;
    color: #69A7BF;
    margin-top: 120px;
}
select:hover{
    cursor: pointer;
}
.datas:hover{
    cursor: pointer;
}
.campo-nome,div{
    margin-top: 10px;
}

input:focus{
    outline: none;
}
.botao{
    margin-top: 2%;
    height: 40px;
    width: 80px;
    background-color: #C4E5F2;
    color: #69A7BF;
    padding: 0.5%;
    border-radius: 5px;
    border: solid 2px #69A7BF;
}
.botao:hover{
    cursor: pointer;
    background-color:#69A7BF;
    color:  #C4E5F2;
}

fieldset{
    border: none;
}




